.footercontainer {
  width: 100vw;
  height: 5vh;
  min-width: 1000px;
  background-color: black;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footercontainer p {
  color: gold;
}
