* {
  margin: 0px;
  padding: 0px;
}

.main {
  width: 98.5vw;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bargraph {
  width: 98vw;
  height: 100vh;
  display: flex;
  min-width: 1000px;
  align-items: center;
  justify-content: center;
}
.scatter {
  width: 98vw;
  height: 100vh;
  min-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
